@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.chat-bubble {
    word-break: break-word;
    text-align: left;
  }

.table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 4px;
    text-align: center;
}
